*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* Shared Style */
.btn{
    background-color:#F15B22;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* Main Style */
.header_banner{
    max-width: 1920px;
    width: 100%;
    height: 100vh;

    background-image: url("/images/banner/banner1.png");
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_content{
    max-width: 700px ;
    width: 100%;

    padding: 0px 230px 0px 0px;
    text-align: right;
}

.header_content .main_title{
    color: #151414;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 24px;
}

.header_content .sub_description{
    color: #444343;
    font-size: 16;
    line-height: 26px;
    margin-bottom: 32px;
}

.section_one {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 87px;
}

.section_one .failure_content{
    max-width: 400px ;
    width: 100%;
    margin-top: 140px;
}

.failure_content h2{
color: #151414;
font-size: 40px;
font-weight: 600;
margin-bottom: 24px;
}

.failure_content p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.failure_content .failure_list{
    list-style: none;
}

.failure_list li{
    color: #444343;
    margin-bottom: 8px;
    font-size: 16px;
}

.failure_list li span{
    color: #16D887;
    width: 16px;
    margin-right: 7px;
}

.section_two{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.section_two .section_header{
    color: #151414;
    font-size: 40px;
    font-weight: bold;
    margin:130px 0px 55px 0px;
    text-align: center;
}

.myplans_container{
    display: flex;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myplans_container .plans_content{
    text-align: center;
}

.plans_content img{
    margin-bottom: 20px;
}

.plans_content h2{
    color: #151414;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}

.plans_content p{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.be_footer_container{
    width: 100%;
    max-width: 1140px;
    height: 300px;
    margin: 150px auto;
    background-image: url('../images/watch.png');
    background-size: cover;
    background-position: center;
}

.be_footer_container .overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/gradient2.png);
    padding: 60px 0px 60px 65px;
}

.overlay .main_content h1{
    max-width: 450px;
    width: 100%;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 24px;
}

.main_content [class="btn"]{
    background-color: #FFFFFF;
    color: #F15B22 ;
    padding: 20px 36px;
}

footer{
    background-color: black;
}

footer .footer_cotainer{
    max-width: 1140px;
    height: 577px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.footer_links{
    max-width: 500px;
    width: 100%;
}

.footer_form{
    max-width: 350px;
    width: 100%;
    margin-bottom: 100px;

}

.footer_links h2{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 16px;
}

.footer_links p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    margin-bottom:24px ;
}

.footer_links .email{
    margin-bottom: 16px;
}

.footer_links  .number{
    margin-bottom: 32px;
}

.footer_links img{
    max-width: 37px;
    width: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.footer_form h3{
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.footer_form [type="text"] {
    padding: 21px 100px 21px 21px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
}

.footer_form [value="Subscribe"]{
    background-color: #FFFFFF;
    color: #F15B22;
}